/* feuille de style pour le dossier des exercices ebook */

body {
    background-color: skyblue;
}

/* styles pour la DD,les DT et les DD */
/* pour bien voir les reponses aux questions */

.reponse {
    background-color: thistle;
    font-style: italic;

}  
.reponse4 {
    background-color: red;
}
.reponse5 {
    background-color: sandybrown;
}

header {
    background-color: slategrey;
}
.encadre {
    width: 250px;
    background-color: white;
    border:  5px solid olive;
    font-size: 15px;
    padding: 10px;
}
abbr {
    border-bottom : 2px dotted black;
    letter-spacing: 5px;
}
.romain {
    list-style-type: upper-roman;
}
blockquote {
    background-color: chartreuse;
    text-indent: 20px;
    padding: 5px;

}
.gras {
    font-weight: 600px;
}
